.login-bg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #6b24c1, #1f1c42, #38017a);
}


.login-card {
  padding: 40px 30px;
  border-radius: 20px !important;
  backdrop-filter: blur(15px);
  background: rgba(72, 0, 121, 0.08) !important;
  box-shadow: 0 8px 40px rgba(124, 58, 237, 0.5) !important;
  color: white;
  text-align: center;
}


.login-title {
  font-weight: bold !important;
  color: #e9d5ff;
}


.login-subtitle {
  color: #c4b5fd;
  margin-bottom: 20px;
}

.label {
  text-align: left;
  color: #d8b4fe;
  font-size: 14px;
  margin-top: 10px;
}


.input-field {
  background: rgba(255, 255, 255, 0.12) !important;
  border-radius: 10px !important;
  color: white !important;
}


.signin-btn {
  border-radius: 25px !important;
  font-weight: 600 !important;
  text-transform: none !important;
  background: linear-gradient(90deg, #7c3aed, #c084fc) !important;
  padding: 12px !important;
}

.signin-btn:hover {
  background: linear-gradient(90deg, #6d28d9, #a855f7) !important;
  box-shadow: 0 6px 20px rgba(168, 85, 247, 0.6);
}

.signup-text {
  color: #ddd;
  font-size: 14px;
}

.signup-text span {
  color: #c084fc;
  font-weight: 600;
  cursor: pointer;
}